form .avatar {
    margin-bottom: 15px;
    width: 55px;
}

.navbar .container-avatar {
    width: 35px;
    height: 35px;
    border-radius: 900px;
    overflow: hidden;
}

.navbar .container-avatar img {
    width: 100%;
    height: 100%;
}

.pub_image {
    margin-bottom: 25px;
}

.pub_image .avatar {
    width: 35px;
    height: 35px;
    border-radius: 900px;
    overflow: hidden;
    float: left;
    margin-right: 10px;
}

.pub_image .avatar img {
    width: 100%;
    height: 100%;
}

.pub_image .data-user {
    font-weight: bold;
    line-height: 35px;
}

.pub_image .nickname {
    color: gray;
}

.image-container {
    width: 100%;
    max-height: 400px;
    overflow: hidden;
}

.image-container img {
    width: 100%;
}

.pub_image .card-body {
    padding: 0px;
}

.card-body .description {
    padding: 20px;
}

.card-body .description strong {
    margin-right: 4px;
}

.likes {
    padding: 20px;
    padding-bottom: 0px;
    padding-top: 0px;
    float: left;
}

.likes img {
    width: 20px;
}
